body{
    background: linear-gradient(to right, #a4ccf5, #dbdbdb);}

.form{
    background-color: white;
    border-radius: 5px;
    width: 80vw;
    margin: 100px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}


.form-body > *{
    padding: 5px;
}

.form__label{
    width: 100%;
}

.form_input{
    width: 100%;
}
.footer{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    max-width: 500px;
}
.button{
    width: 200px !important;
    margin: auto; 
    border: 1px solid grey;
    border-radius: 15px;
    background-color: whitesmoke;
    height: 30px !important;
    color: black;

}
.button:hover{
    background-color: rgb(45, 99, 99) !important;
    transition: 0.4s;
    color: white;
}

.form__input{
    width: 60vw !important; 
    min-width: 200px;
    max-width: 500px;
    border: 1px solid rgb(222, 222, 222);
    padding: 2px 5px;
}