.homebody{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: linear-gradient(to right, #a4ccf5, #bdc3c7);
    padding: 20px 0;
}
.posts{
    margin-top: 20px;
    width: 80%;
    max-width: 700px;
    min-height: 100px;
    background-color: aliceblue;
    border-radius: 20px;
    text-align: left;
 padding: 15px 0 15px 15px;
    margin: 20px auto;
}
.posts p{
    margin: 5px 0;
    padding: 0;
}
.posts h2{
    text-transform: uppercase;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: rgb(45, 99, 99) ;
    margin-top: 10px;
    color: white;
}